<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>404 - EasyAPI服务平台</title>
  <link href="https://static.easyapi.com/styles/base.css" rel="stylesheet"/>
  <link href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
  <meta name="descriptions" content="EasyAPI帮助中心"/>
  <meta name="keywords" content="帮助中心,视频教程"/>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="mheight wp">
  <div class="con_nofound">
    <div class="Title">
      <span class="bigTitle">404!</span>
      <span class="subTitle">你访问的页面不存在</span>
      <span th:text="${message}"></span>
    </div>
    <div>
      <p><img src="https://qiniu.easyapi.com/photo/girl${#random.int[1,128]}.jpg" title="欣赏美女" width="600"></p>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
