<!DOCTYPE html>
<html lang="zh">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>注册 - EasyAPI服务平台</title>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://static.easyapi.com/styles/base.css" rel="stylesheet" />
  <meta name="descriptions" content="EasyAPI账号注册" />
  <meta name="keywords" content="注册" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <!-- 饿了吗样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
    <div style="margin: 0 0 100px 0">
      <div class="toper">
        <div class="wp">
          <a href="https://www.easyapi.com/"><img class="logo pl"
              src="https://static.easyapi.com/images/logo.png" /></a>
          <div class="navs pr">
            <a href="./login">登录</a>
            <a href="./signup">注册</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="lg-form">
        <div class="lg-title text-center">用户注册</div>
        <div class="lg-body bgf">
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="" prop="username">
              <el-input placeholder="请输入手机号码" class="input-with-select" maxlength="11" v-model="ruleForm.username"
                @input="findUsername" style="width: 350px;">
                <template slot="prepend">+ </template>
                <el-select v-model="select" filterable allow-create slot="prepend" style="width:80px;">
                  <el-option v-for="item in options" :key="item.value" :value="item.value">
                    {{item.label}}（+{{item.value}}）
                  </el-option>
                </el-select>
              </el-input>
            </el-form-item>
            <el-form-item label="" prop="code">
              <el-input placeholder="请输入验证码" maxlength="6" onkeyup="value=value.replace(/[^\d]/g,'')"
                v-model="ruleForm.code" style="width: 220px;"></el-input>
              <input type="button" :disabled="sendCodeBtn" id="sendCodeBtn" @click="sendCode" :value="sendCodeCount" />
            </el-form-item>
            <el-form-item label="" prop="nickname">
              <el-input placeholder="请输入姓名" v-model="ruleForm.nickname" style="width: 350px;"></el-input>
            </el-form-item>
            <el-form-item label="" prop="password">
              <el-input placeholder="请设置密码" type="password" v-model="ruleForm.password" style="width: 350px;">
              </el-input>
            </el-form-item>
            <el-form-item label="" prop="confirmPassword">
              <el-input placeholder="请再输入一次密码" type="password" v-model="ruleForm.confirmPassword" style="width: 350px;">
              </el-input>
            </el-form-item>
            <el-checkbox v-model="ruleForm.checked">点击注册表示您同意<span class="text-success"><a href="terms"
                  target="_blank">《EasyAPI服务条款》</a></span>
            </el-checkbox>
            <input :disabled="disabled" id="btn_sub" type="button" @click="onSubmit"
              class="btn-block btn btn-lg btn-info" value="注 册" />
          </el-form>

          <div class="otherbox a-center">
            <a href="./login">我已有EasyAPI账号，直接登录</a>
          </div>

        </div>
      </div>
    </div>

    <div class="foot clearfix">
      <p>
        <span>Copyright © 2015～2021 帮趣团队</span>
        <a href="https://www.easyapi.com/info/about" class="firstA">关于我们</a>
        <a href="https://www.easyapi.com/info/together">合作伙伴</a>
        <a href="https://www.easyapi.com/info/contact">联系我们</a>
        <a href="https://www.easyapi.com/info/donate">支持我们</a>
      </p>
    </div>
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://static.easyapi.com/scripts/base.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/jQuery-JSONP/2.4.0/jquery.jsonp.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript">
    //从哪来
    let from = "";
    if (from != null && from != '') {
      var expiresDate = new Date();
      expiresDate.setTime(expiresDate.getTime() + (60 * 60 * 1000));
      $.cookie('from', from, {
        expires: expiresDate
      });
    } else {
      from = $.cookie("from");
    }
    if (typeof (from) == "undefined") {
      from = '';
    }
    from = from != "" ? from : document.referrer;
    from = from.indexOf("account.easyapi.com") >= 0 ? "https://www.easyapi.com" : from;

    var vm = new Vue({
      el: '#app',
      data: {
        disabled: true,
        sendCodeBtn: false,
        sendCodeCount: "获取验证码",
        select: "86",
        options: [{
          value: '86',
          label: '中国大陆'
        }, {
          value: '852',
          label: '中国香港'
        }, {
          value: '886',
          label: '中国台湾'
        }, {
          value: '81',
          label: '日本'
        }, {
          value: '1',
          label: '美国'
        }],
        ruleForm: {
          username: '',
          code: '',
          nickname: '',
          password: '',
          confirmPassword: '',
          checked: false,
        },
        rules: {
          username: [{
              required: true,
              message: '请输入手机号码',
              trigger: 'blur'
            },
            {
              pattern: /^1[34578]\d{9}$/,
              message: '手机号码格式有误',
              trigger: 'blur'
            }
          ],
          code: [{
              required: true,
              message: '请输入验证码',
              trigger: 'blur'
            },
            {
              pattern: /^\d{6}$/,
              message: '验证码格式有误',
              trigger: 'blur'
            }
          ],
          nickname: [{
            required: true,
            message: '请输入昵称',
            trigger: 'blur'
          }],
          password: [{
              required: true,
              message: '密码6~16位之间，建议包含英文和标点符号',
              trigger: 'blur'
            },
            {
              min: 6,
              max: 16,
              message: '密码6~16位之间，建议包含英文和标点符号',
              trigger: 'blur'
            }
          ],
          confirmPassword: [{
            required: true,
            message: '请再输入一次密码',
            trigger: 'blur'
          }],
        }
      },
      methods: {
        //注册
        onSubmit() {
          let that = this
          let username = that.ruleForm.username
          let code = that.ruleForm.code
          let nickname = that.ruleForm.nickname
          let password = that.ruleForm.password
          let confirmPassword = that.ruleForm.confirmPassword
          let checked = that.ruleForm.checked
          if (password != confirmPassword) {
            that.$message.error('确认密码不一致');
          } else {
            if (!checked) {
              that.$message.error('请勾选同意EasyAPI用户协议');
            } else {
              axios({
                method: 'POST',
                url: 'https://account-api.easyapi.com/api/account/signup',
                data: {
                  username: that.ruleForm.username,
                  code: that.ruleForm.code,
                  nickname: that.ruleForm.nickname,
                  password: that.ruleForm.password
                },
              }).then(res => {
                if (res.data.code === 1) {
                  that.$message({
                    message: res.data.message,
                    type: 'success'
                  });
                  setTimeout(() => {
                    window.location.replace(from);
                  }, 1000);
                } else {
                  that.$message.error(res.data.message);
                }
              }).catch(error => {
                that.$message.error(error.response.data.message);
              })
            }
          }
        },
        //在手机号输入正确之后查询是否有此用户
        findUsername() {
          let that = this
          let telStr = /^1[34578]\d{9}$/
          if (telStr.test(this.ruleForm.username)) {
            axios({
              url: "https://account-api.easyapi.com/api/account/find",
              method: "POST",
              data: that.ruleForm.username,
              headers: {
                'Content-Type': 'application/json'
              }
            }).then(res => {
              that.$message.error('该账号已注册，请直接登录');
            });
          }
        },

        //发送验证码
        sendCode() {
          let that = this
          let timer
          let telStr = /^1[34578]\d{9}$/
          if (telStr.test(that.ruleForm.username)) {
            axios({
              url: "https://account-api.easyapi.com/api/account/find",
              method: "POST",
              data: that.ruleForm.username,
              headers: {
                'Content-Type': 'application/json'
              }
            }).then(res => {
              that.$message.error('该账号已注册，请直接登录');
            }).catch(error => {
              axios({
                url: "https://account-api.easyapi.com/api/captcha/send",
                method: "POST",
                data: {
                  mobile: that.ruleForm.username
                }
              }).then(res => {
                if (res.data.code === 1) {
                  that.$message({
                    message: '验证码发送成功',
                    type: 'success'
                  });
                  let second = 60;
                  that.sendCodeBtn = true;
                  timer = setInterval(() => {
                    second--;
                    if (second == 0) {
                      that.sendCodeBtn = false;
                      that.sendCodeCount = "获取验证码"
                      clearInterval(timer)
                      return
                    }
                    that.sendCodeCount = `剩余${second}秒`
                  }, 1000)
                }
              })
            })
          } else {
            that.$message.error('请输入正确的手机号码');
          }
        }
      },
      updated() {
        //校验
        let telStr = /^1[34578]\d{9}$/
        if (telStr.test(this.ruleForm.username) && this.ruleForm.password.length >= 6 && this.ruleForm
          .confirmPassword.length >= 6 && this.ruleForm.nickname != '' && this.ruleForm.code != '' && this.ruleForm
          .checked) {
          this.disabled = false
        } else {
          this.disabled = true
        }
      }
    })

  </script>
</body>

</html>
