<html lang="zh">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>用户绑定 - EasyAPI服务平台</title>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://static.easyapi.com/styles/base.css" rel="stylesheet">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="https://static.easyapi.com/layer/skin/layer.css" id="layui_layer_skinlayercss" style="">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
    <div style="margin: 0 0 100px 0">
      <div class="toper">
        <div class="wp">
          <a href="https://www.easyapi.com/"><img class="logo pl" src="https://static.easyapi.com/images/logo.png"></a>
          <div class="navs pr">
            <a href="/login">登录</a>
            <a href="/signup">注册</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="lg-form yahei">
        <div class="lg-title">绑定账号</div>
        <div class="lg-subtitle ">第一次使用QQ帐号登录，您需要填写账号和密码，以后您也可以使用此账号和密码登录</div>
        <div class="ath"><img :src="imageSrc">
          <img style="width: 40px;height: 40px;" src="../static/svg/bind.svg" alt="">
          <img src="https://static.easyapi.com/images/ath.png"></div>
        <div class="lg-body bgf">
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
            <el-form-item label="" prop="username">
              <el-input placeholder="请输入手机号码" class="input-with-select" maxlength="11" v-model="ruleForm.username"
                style="width: 350px;">
                <template slot="prepend">+ </template>
                <el-select v-model="select" filterable allow-create slot="prepend" style="width:80px;">
                  <el-option v-for="item in options" :key="item.value" :value="item.value">
                    {{item.label}}（+{{item.value}}）
                  </el-option>
                </el-select>
              </el-input>
            </el-form-item>
            <el-form-item label="" prop="password">
              <el-input v-model="ruleForm.password" type="password" placeholder="请输入密码" style="width: 350px;">
              </el-input>
            </el-form-item>
            <el-checkbox v-model="ruleForm.rememberMe" checked>记住密码</el-checkbox>
            <input @click="handleLogin" type="button" disabled id="btn_sub" class="btn-block btn btn-lg btn-info"
              value="绑定账号">
          </el-form>
        </div>
      </div>
    </div>
    <div class="foot clearfix">
      <p>
        <span>Copyright © 2015～2021 帮趣团队</span>
        <a href="https://www.easyapi.com/info/about" class="firstA">关于我们</a>
        <a href="https://www.easyapi.com/info/together">合作伙伴</a>
        <a href="https://www.easyapi.com/info/contact">联系我们</a>
        <a href="https://www.easyapi.com/info/donate">支持我们</a>
      </p>
    </div>
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://static.easyapi.com/scripts/base.js"></script>
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/jQuery-JSONP/2.4.0/jquery.jsonp.min.js"></script>
  <script type="text/javascript" src="https://static.easyapi.com/scripts/libs/Validform_v5.3.2_min.js"></script>
  <script type="text/javascript">
    var vm = new Vue({
      el: '#app',
      data: {
        select: "86",
        imageSrc: "",
        options: [{
          value: '86',
          label: '中国大陆'
        }, {
          value: '852',
          label: '中国香港'
        }, {
          value: '886',
          label: '中国台湾'
        }, {
          value: '81',
          label: '日本'
        }, {
          value: '1',
          label: '美国'
        }],
        ruleForm: {
          username: "",
          password: "",
          rememberMe: true,
        },
        rules: {
          username: [{
              required: true,
              message: '请输入手机号码',
              trigger: 'blur'
            },
            {
              pattern: /^1[34578]\d{9}$/,
              message: '手机号码格式有误',
              trigger: 'blur'
            }
          ],
          password: [{
              required: true,
              message: '密码6~16位之间，建议包含英文和标点符号',
              trigger: 'blur'
            },
            {
              min: 6,
              max: 16,
              message: '密码6~16位之间，建议包含英文和标点符号',
              trigger: 'blur'
            }
          ],

        }
      },
      mounted() {
        if (this.$route.params.providerId === "qq") {
          this.imageSrc = "./static/qq.jpg"
        } else {
          this.imageSrc = "/static/weixin.jpg"
        }
      },
      methods: {
        handleLogin() {
          let that = this
          $.ajax({
            method: 'POST',
            url: 'https://account-api.easyapi.com/api/authenticate',
            contentType: 'application/json',
            data: JSON.stringify({
              username: that.ruleForm.username,
              password: that.ruleForm.password,
              rememberMe: that.ruleForm.rememberMe
            }),
            dataType: "json",
            success: function (data, status, xhr) {
              if (data.code === 1) {
                var jwt = data.content.idToken;
                if (that.ruleForm.rememberMe) {
                  localStorage.setItem('authenticationToken', jwt);
                } else {
                  sessionStorage.setItem('authenticationToken', jwt);
                }
                that.bind();
              }
              // var bearerToken = xhr.getResponseHeader("Authorization");
              // if (bearerToken.substr(0, 7) == "Bearer ") {
              //   var jwt = bearerToken.substr(7, bearerToken.length);
              //   if (this.ruleForm.rememberMe) {
              //     localStorage.setItem('authenticationToken', jwt);
              //   } else {
              //     sessionStorage.setItem('authenticationToken', jwt);
              //   }
              //   this.bind();
              // }
            },
          });
        },
        bind() {
          let that = this
          $.ajax({
            method: 'POST',
            url: 'https://account-api.easyapi.com/auth/bind',
            data: {
              providerUserId: that.$route.params.providerUserId,
              providerId: that.$route.params.providerId
            },
            beforeSend: function (request) {
              request.setRequestHeader("Authorization", "Bearer " + (localStorage.getItem(
                  "authenticationToken") ==
                null ? sessionStorage.getItem("authenticationToken") : localStorage.getItem(
                  "authenticationToken")));
            },
            dataType: "text",
            success: function (data) {
              window.location.replace("https://www.easyapi.com");
            },
            error: function (data) {
              window.location.replace("/login");
            }
          });
        }
      },
      updated() {
        // 校验
        if (this.ruleForm.username != '' && this.ruleForm.password.length >= 6) {
          $('#btn_sub').removeAttr("disabled");
        } else {
          $('#btn_sub').attr("disabled", true);
        }
      }
    })

  </script>
</body>

</html>
