.renew_content {
  height: auto;
  margin: 0 auto;
}

.renew_service {
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 30px;
}

.renew_service_title {
  width: 8%;
  height: 100%;
  display: block;
  color: #323232;
  font-size: 14px;
}

.renew_fl {
  width: 100%;
  height: 55px;
  display: flex;
}

.renew_btn {
  width: 100%;
  height: 80px;
  padding-left: 80px;
}

.renew_btn button {
  width: 120px;
  height: 40px;
  text-align: center;
}

.renew_btn_tips {
  display: block; padding-top: 5px; color: #888888; font-size: 12px
}

