.authorize-main {
  width: 620px;
  height: 260px;
  margin: 100px auto;
  background-color: #f0f0f2;
}

.authorize-header {
  padding: 15px 0 15px 10px;
  background-color: #18BFD5;
  color: #ffffff;
  font-size: 20px;
}

.authorize-form-top {
  padding: 20px;

  .word_top {
    margin-top: 10px;

    span {

    }
  }

  .word_bottom {
    margin-top: 10px;

    span {
      color: #666;
    }
  }
}

.authorize-form-bottom {
  padding-left: 20px;
  display: flex;
}

.btn_right_p {
  margin-left: 20px;
}
