.authorize-main {
  width: 520px;
  height: 220px;
  margin: 100px auto;
  border: 2px solid #18BFD5
}

.authorize-header {
  padding: 10px 0 10px 20px;
  background-color: #18BFD5;
  color: #ffffff;
  font-size: 24px;
}

.authorize-form-top {
  padding: 20px;
}

.authorize-form-bottom {
  padding-left: 20px;
  display: flex;
}

.btn_right_p {
  margin-left: 20px;
}
