.mheight {
  padding: 50px 0;
  height: 100%;
}

.wp {
  width: 100%;
  margin: 0 auto;
}

.con_nofound {
  width: 600px;
  margin: 60px auto 0;
}

.Title {
  border: 1px solid #ccc;
  padding: 10px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.bigTitle {
  font-size: 60px;
  font-family: "Trebuchet MS";
}

.subTitle {
  font-size: 18px;
}

.foot {
  width: 100%;
  text-align: center;
  color: #777;
  font-size: 12px;

  a {
    color: #777777;
    text-decoration: none;
  }
}
