@media screen and (max-width: 450px) {
  body, html {
    font-size: 12px;
    margin: 0;
  }

  .header {
    width: 100%;
    height: 36px;
    background-color: #18c1d6;

    .header-wp {
      padding: 0 20px;
      height: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 60px;
      }

      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }


  .main {
    width: 100%;
    padding: 50px 0;
    height: 100%;

    .form {
      width: 80%;
      overflow: hidden;
      margin: 40px auto 50px;
      text-align: center;

      .headline {
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;
      }

      .image-svg {
        width: 40px;
        height: 40px;
        padding: 0 5px;
      }

      .image-png {
        width: 40px;
        height: 40px;
      }

      .code {
        width: 52%
      }

      .getCode {
        width: 46%;
      }

      .other-box {
        margin: 20px auto;
        width: 100%;
        display: flex;
        justify-content: space-around;

        a {
          color: #ACACAC;
        }
      }
    }

    .yahei {
      font-family: "微软雅黑", "Arial", HELVETICA;
    }
  }

  .footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #777;
    font-size: 12px;

    a {
      color: #777777;
    }
  }
}

@media screen and (min-width: 450px) {
  body, html {
    font-size: 16px;
    margin: 0;
  }

  .header {
    width: 100%;
    height: 72px;
    background-color: #18c1d6;

    .header-wp {
      padding: 0 20px;
      height: 72px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 160px;
      }

      a {
        color: #ffffff;
      }

      .buttons a {
        margin-left: 20px;
      }
    }
  }

  .title {
    font-size: 60px;
    font-family: "Trebuchet MS";
  }

  .subtitle {
    font-size: 18px;
    display: block;
    margin-top: 10px;
  }

  .main {
    width: 100%;
    padding: 50px 0;
    height: 100%;

    .form {
      width: 350px;
      overflow: hidden;
      margin: 60px auto 50px;
      text-align: center;

      .image-svg {
        width: 50px;
        height: 50px;
        padding: 0 10px;
      }

      .image-png {
        width: 80px;
        height: 80px;
      }

      .code {
        width: 230px
      }

      .getCode {
        width: 115px;
      }

      .headline {
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;
      }

      .other-box {
        margin: 20px auto;
        width: 350px;
        display: flex;
        justify-content: space-around;

        a {
          color: #ACACAC;
        }
      }
    }

    .yahei {
      font-family: "微软雅黑", "Arial", HELVETICA;
    }
  }

  .footer {
    width: 100%;
    text-align: center;
    color: #777;
    font-size: 12px;

    a {
      color: #777777;
    }
  }
}


.con_nofound {
  width: 600px;
  margin: 60px auto 0;
}

a {
  text-decoration: none;
}

.ath {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  margin-bottom: 20px;
  float: left;
}
